/*
 * Global
 */
html {
    scroll-behavior: smooth;
}
body {
    font-size: 1em;
}

h1 {
    font-family: 'Vollkorn', serif;
    margin: 1em 0;
    font-size: 2.5em;
}

h2 {
    color: #6748a8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

h2:hover {
    text-decoration: underline;
}

p {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.main_wrapper {
    background-color: white;
    color: black;
}

section {
    padding: 2em 0;
}

/* ---------------- For Animation on Scroll ---------------- */
.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {visibility: visible; animation:slide 1s;}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}

/*
 * Header
 */
.navbar {
    background-color: rgba(0, 0, 0, 0.50);
    padding: 1em;
}

#logo {
    width: 70px;
    height: 80px;
}

.navbar-brand {
    font: bold 2em 'Lucida Calligraphy', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link {
    color: #fff !important;
    font-family: Corbel;
    font-size: 1.5em;
    font-weight: normal;
    font-style: normal;
    background-color: transparent;
}

.nav-item {
    padding: 0em 1em;
}

.nav-link.active {
    color: #55acee !important;
}

header #navbarNav {
    justify-content: flex-end;
}

header #navbarNav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/*
 * Cover
 */

.cover {
    height: 100vh;
    background-image: url("../images/cover.jpg");
    background-color: #333;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
 * About
 */

#about li {
    width: 100%;
    text-align: left;
    padding-left: 3em;
} 

/*
 * Courses
 */

#courses {
    background-color: #6dcff6;
}
#courses ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#courses li {
    border: 1px solid #6dcff6;
    border-radius: 1rem;
    box-shadow: 1px 3px 10px;
    margin: 1em 0;
    max-height: 183px;
}

#courses li a {
    padding: 1em;
    height: 80%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
}

#courses li a img {
    grid-row: span 2 / auto;
    width: 200px;
    height: 150px;
}

#courses li a:hover {
    text-decoration: none;
}

#courses li a p {
    overflow: auto;
    color: black;
}

/*
 * contact
*/
#location span,
#tel span,
#email span{
    display: inline-block;
    margin-right: 1em;
}

/*
 * footer
*/
footer {
    padding: 1em 0 2em 0;
}